# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp
*~



# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/
data/

# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs e Editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Sistema Operacional
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml